body .container{
    padding-right: 0;
    padding-left: 0;
}

@font-face {
    font-family: DreamMMA;
    src: url('../../public/fonts/Dream_MMA.ttf');
}

@font-face {
    font-family: HeavyWood;
    src: url('../../public/fonts/HEAVYwood.ttf');
}

@font-face {
    font-family: Mikodacs;
    src: url('../../public/fonts/Mikodacs.ttf');
}

