body .container{
    padding-right: 0;
    padding-left: 0;
}

@font-face {
    font-family: DreamMMA;
    src: url('/fonts/Dream_MMA.ttf');
}

@font-face {
    font-family: HeavyWood;
    src: url('/fonts/HEAVYwood.ttf');
}

@font-face {
    font-family: Mikodacs;
    src: url('/fonts/Mikodacs.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('/fonts/Roboto-Bold.ttf');
}

